chardet
click
Cython
Flask
dash
dash-core-components
dash-html-components
dash-renderer
decorator
numpy
plotly
python-dateutil
pytz
requests
Werkzeug
scipy
tensorflow==2.4.0
opencv-python
Pillow
dlib
dash-daq
